totem {
version: 2
  cluster_name: {{ cluster_name }}
  transport: {{ transport_pro }}
  interface {
    ringnumber: 0
    bindnetaddr: {{ ansible_eth1.ipv4.address }}
    broadcast: yes
    mcastport: {{ mcast_port }}
  }
}

quorum {
  provider: corosync_votequorum
  two_node: 1
}

nodelist {
  node {
    ring0_addr: {{ primary_node_address }}
    name: {{ primary_node_hostname }}
    nodeid: {{ primary_nodeid }}
  }
  node {
    ring0_addr: {{ secondary_node_address }}
    name: {{ secondary_node_hostname }}     
    nodeid: {{ secondary_nodeid }}
  }
}

logging {
  to_logfile: yes
  logfile: {{ logpath }}
  to_syslog: yes
  timestamp: on
}

